*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D3D3D3;
}
.center{
    width: 1140px;
    margin :0 auto;
}
form{
    width: 100% ;
}
form input,textarea{
    width: 100%;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
}
input{

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}
#btn{
    width: auto;
    padding: 10px 15px;
    margin-bottom : 30px;
    text-align: center;
}