*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-up{
    line-height: 30px;
    background-color: black;
    
}
#nav-up ul{

    list-style: none;
}
.disMenu{
    width: 100%;
}
.disMenu > li{
    float: left;
    position: relative;
    min-width: 140px ;
    text-align: center; 
}
.disMenu > li:last-child{
    float: right;
}
#nav-up li:hover{
    background-color: red;
}
#nav-up a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px 12px;
    
}
#nav-up ul::after{
    content: "";
    display: block;
    clear: both;
}
.center{
    width: 1140px;
    margin: 0 auto;
}
.icMenu {
    position: absolute;
    display: none;
    top:100%;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}

li:hover .icMenu{
    display: block;
    background-color: black;
}