
    <% if(user){%>
 
        
        <% if(user.isValid == "true") { %> 
            <!-- Main Content-->
            <h4 style="text-align: center;">Write Comment</h4>
            <main class="mb-4">
                <div class="container px-4 px-lg-5" style="padding-left:0 !important ;padding-right:0 !important;">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7" style="width: 100%;">

                            <div class="my-5">
                                <form id="contactForm"  action="/blog/commentControl" method="post" >
                                                
                                    <div class="form-floating">
                                        <textarea class="form-control" id="message"  name="comment" placeholder="Enter your message here..." style="height: 12rem; background-color: #f2f2f2; padding-left: 1rem;padding-right: 1rem;" data-sb-validations="required" required></textarea>
                                        <label for="message" style="padding-left: 1.4rem;">Message</label>
                                        <input type="text" style="visibility:hidden; width: 0;" name="authorId" value=<%=user._id%>>
                                        <input type="text" style="visibility:hidden; width: 0;" name="blogId" value=<%=blog._id%> >
                                    </div>
                                    <br />
                                                
                                                <!-- Submit Button-->
                                    <div class="center">
                                        <div class="inputbox">
                                            <input type="submit" id="btn" value="Send">
                                        </div> 
                                    </div>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        <% } %>
    <% } %>
    <br/>
    <h4 style="text-align: center;">Comments</h4>
    <%if(blog.comments.length == 0 ) { %>
        <div>
            <p style="text-align: center;">Henüz Yorum Yapılmadı</p>
        </div>
    <% } else { %>
    <% blog.comments.forEach((data)=>{ %>
        
        <div class="d-flex justify-content-center py-2"  >
            <div class="second py-2 px-2" > <span class="text1"><%=data.comment%></span>
                <div class="d-flex justify-content-between py-1 pt-2">
                    <div><span class="text2">Writed By: <%=data.author%></span></div>
                </div>
            </div>
        </div>
    
    <% }) %>
    <% }%>    
</div>






