<nav id="nav-up">
    <div class="center">
        <ul>
            <li><a href="/"> Home Page </a></li>
            <li><a href="/signUp"> Sign Up </a></li>
            <li><a href="/login"> Login </a></li>

        </ul>
    </div>

</nav>