<nav id="nav-up">
    <div class="center">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home Page </a></li>
            <li><a href="/signUp"><i class="fas fa-user-plus"></i> Sign Up </a></li>
            <li><a href="/login"><i class="fas fa-blog"></i> Login </a></li>

        </ul>
    </div>

</nav>