<nav id="nav-up">
    <div class="center">
        <ul class="disMenu">
            <li><a href="/"><i class="fas fa-home"></i> Home Page </a></li>
            <% if( user ) { %>
                <li><a href="#"><i class="fas fa-user-plus"></i> Blog Yazılarım </a></li>
                <li><a  href="#"><i class="fas fa-blog"></i> <%=user.username %> </a>
                    <ul class="icMenu"> 
                        <li><a href=""> <i class="fas fa-user-cog"></i> Settings</a></li>
                        <li><a href="/author/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>

            <% } else { %>
                <li><a href="/author/signUp"><i class="fas fa-user-plus"></i> Sign Up </a></li>
                <li><a href="/author/login"> Login <i class="fas fa-sign-in-alt"></i></a></li>
             <% } %>
        </ul>
    </div>



</nav>





