<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('./inc/headHome')%>
    <link rel="stylesheet" href="/style/addBlogForm.css">
    
</head>
<body>
    <div class="center">
        <form action="/blog/add" method="post">
            
            <div class="input-div">
                <input type="text" class="form-element" name="title" placeholder="Blog başlığı girin" required  >
            </div>
            <div class="input-div">
                <textarea id="w3review" name="long" rows="25" ></textarea>
            </div>
            
            <input type="submit" id="btn" value="Add Blog">
            
        </form>
    </div>

    
</body>
</html>