<!DOCTYPE html>
<html lang="tr">

<head>
    <%-include('./inc/head')%>

    

    <link rel="stylesheet" href="/style/commentStyle.css">

    <script src="/ckeditor/ckeditor.js" type="text/Javascript"></script>


    
</head>

<body>
    <%-include('./inc/nav')%>
   

    <h2 style="position: absolute; top:8px;left :12px ; color: white;">Node Blog </h2>

    <%-include('./inc/headerImg')%> 
    <%-include('./inc/article') %> 

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="script/scripts.js"></script>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>