<!DOCTYPE html>
<html lang="tr">

<head>
    <%-include('./inc/headFont') %>
    <title> <%=title%> </title> 
    <link rel="stylesheet" href="loginStyle.css">
    <link rel="stylesheet" href="nav.css">

</head>

<body>
    
    <%-include('./inc/nav')%>

    <div id="log-in-container">
        <h3 id="heading">Log In</h3>
        <form action="/login" method="post">
            
            <div class="input-div">
                <input type="email" class="form-element" name="email" placeholder="Email girin" required  >
            </div>
            <div class="input-div">
                <input type="password" id="password" class="form-element" name="password" placeholder="Şifre" required>
            </div>
            <div>
                <input type="submit" id="btn" value="Sign In">
            </div>
            <div class="forgetPassword input-div">
                <a href="/resetPassword" class="blue">Forgot Password</a>
            </div>
            <div id="bottom">
                <div class=" input-div">
                    <a href="/signUp" class="aqua">Sign Up Now</a>
                </div>
            </div>
        </form>
    </div>
    <script src="login.js"></script>
</body>

</html>