<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('. /inc/headFont')%>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="resetPassword.css">
        <link rel="stylesheet" href="nav.css">

</head>

<body>

        <%-include('. /inc/nav')%>

        <div class="content">

            <div id="center">

                <div class="header">

                    <h3 id="headerReset">Reset Password</h3><br>

                </div>
                <div id="log-in-container"></div>
                <form action="" id="resetForm">

                    <div class="resetInput">

                        <input type="text" id="username" placeholder="Kullanıcı Adı veya E-posta Giriniz"
                            required><br><br>

                    </div>

                    <div class="submitReset">

                        <input type="submit" id="send" value="Şifre Sıfırlama">

                    </div>

                    <div class="loginReturn">
                        <a href="/login" class="loginBack">Login</a>

                    </div>
            </div>



            </form>
            <script src="reset.js"></script>
        </div>
        </div>


</body>

</html>