<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title> <%=title%></title>
    <link rel="stylesheet" href="signUp.css">
    <link rel="stylesheet" href="homepage.css">
    
</head>

<body>
    <nav id="nav-up">
        <div class="center">
            <ul>
                
                <li><a href="/"> Home Page </a></li>
                <li><a href="/signUp"> Sign Up </a></li>
                <li><a href="/login"> Login </a></li>
                
            </ul>
        </div>
        
    </nav>

    <div id="log-in-container">
        
        <h3 id="heading">Sign Up</h3>
        <form  action="/setSignUp" method="post" id="form" onsubmit="return validateMyForm()">
            <p id="message"></p>
            <div class="input-div">
                <input type="text" class="form-element" name="name" placeholder="İsim girin"
                    >
            </div>
            <div class="input-div">
                <input type="text" class="form-element" name="surname" placeholder="Soyisim girin"
                    required>
            </div>
            <div class="input-div">
                <input type="text" class="form-element" name="username" placeholder="Kullanıcı Adı"
                    required>
            </div>
            <div class="input-div">
                <input type="email" class="form-element" name="email" placeholder="Email giriniz"
                    required>
            </div>
            <div class="input-div">
                <input type="password" id="password" class="form-element" name="password" placeholder="Şifre" required>
                <div class="warning"><img src="img/unlem.PNG" alt=""></div>
            </div>
            <div class="input-div">
                <input type="password" id="passwordRetry" class="form-element" name="passwordRetry" placeholder="Şifreyi tekrar girin" required>
                <div class="warning"><img src="img/unlem.PNG" alt=""></div>
            </div>
            
            <div>
                <input type="submit" id="btn" value="Sign Up">
            </div>
            
        </form>
    </div>
    <script src="signup.js"></script>
</body>

</html>