*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-up{
    line-height: 30px;
    background-color: black;
}
#nav-up ul li{
    list-style-type: none;
    float: left;
    
    
}
#nav-up ul li:last-child{
    float: right;
}
#nav-up li:hover{
    background-color: red;
}
#nav-up a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px 12px;
}
#nav-up ul::after{
    content: "";
    display: block;
    clear: both;
}
.center{
    width: 1140px;
    margin: 0 auto;
}